.container {
    left: calc(50% - 1440px / 2);
    top: calc(50% - 1024px / 2);
    padding: 80px 40px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 250px 40px 80px 40px;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
