.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        180deg,
        #344aba 0%,
        rgba(0, 20, 121, 0.83) 100%
    );
    justify-content: center;
    min-width: 40%;
    min-height: 60%;
    max-width: 592px;
    max-height: 500px;
    box-shadow: inset 0px -8px 0px 4px #140e66, inset 0px 6px 0px 8px #2463ff;
    border-radius: 72px;
}
