.landingContainer {
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: "MouseMemoirs";
    position: absolute;
    top: -56px;
    width: 20rem;
    font-size: 3em;
}

.textLeft {
    position: absolute;
    left: 57px;
}

.textRight {
    position: absolute;
    bottom: -15px;
    right: 60px;
}

.textLarge {
    line-height: 50px;
}

.playButtonContainer {
    width: 150px;
    height: 150px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    position: absolute;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)
        ),
        linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
    box-shadow: inset 0px -4px 0px 5px #243041, inset 0px -12px 0px 11px #9d2df5;
    border-radius: 999px;
}

.iconPlay {
    width: 40%;
    height: 40%;
    position: absolute;
}

.iconPlay,
.playButtonBackground {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton:hover,
.howToPlayButton:hover {
    background-color: #0056b3;
}

.howToPlayButton {
    font-family: "MouseMemoirs";
    position: absolute;
    bottom: 2rem;
    display: flex;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 64px;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)
        ),
        #2463ff;
    box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
    border-radius: 40px;
}
