.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        180deg,
        #1a043a 0%,
        #151278 70.31%,
        #2b1677 100%
    );
    opacity: 0.75;
    padding: 40px 80px;
}

.title {
    font-size: 48px;
    color: #333;
}

.menuButton {
    background: url("/public/starter-code/assets/images/icon-menu.svg");
    width: 41px;
    height: 38px;
    position: relative;
    border: none;
}
