.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        180deg,
        #1a043a 0%,
        #151278 70.31%,
        #2b1677 100%
    );
    opacity: 0.75;
    padding: 40px 80px;
}

.title {
    margin-left: 20px;
    width: 243px;
    height: 106px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 120%;
    text-align: center;
}

.healthbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.healthbar {
    width: 200px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.health {
    height: 100%;
    background-color: black;
}

.heartIcon {
    background: url("/public/starter-code/assets/images/icon-heart.svg");
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.menuButton {
    background: url("/public/starter-code/assets/images/icon-menu.svg");
    width: 41px;
    height: 38px;
    position: relative;
    border: none;
}
