.puzzleBoard {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.letter {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid black;
    line-height: 40px;
    font-size: 3rem;
}
